:root {
    --font-family: "Source Sans Pro", sans-serif;
    --text-color: #fff;
    --color-primary: #FF6565;
    --color-primary-background: #fff;
    --color-primary-footer: #071629;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/* Desktop */
@media screen and (min-width: 565px) {
    header {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        height: 80%;
        width: 80%;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1400px;
    }

    .header_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%
    }

    nav {
        display: flex;
        gap: 41px;
    }

    nav a {
        text-decoration: none;
        color: var(--color-primary-background);
        font-family: var(--font-family);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    a:hover, a:active {
        color: var(--color-primary);
        opacity: 0.9;
    }

    #logo {
        width: 161px;
        height: 32px;
        z-index: 2;
    }
}

.hidden-header {
    display: none;
}

.drop-down {
    display: none;
}

/* Mobile */

@media screen and (max-width: 375px) {

    .header_container {
        display: none;
    }

    header {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        z-index: 3;
        height: 80%;
        width:80%;
        top: 5%;
        left: 50%;
        transform: translated(-50%, -50%);
    }

    .hidden-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    #logo {
        width: 247px;
        height: 32px;
        z-index: 2;
    }

    .hidden-menu-container {
        display: flex;
        margin-right: 5rem;
        position: relative;
    }

    .hidden-menu {
        position: absolute;
        display: flex;
        z-index: 5;
        width: 20px;
        height: 20px;
        opacity: 0;
    }

    .hidden-header_container {
        position: relative;
        display: flex;
        justify-content: center;
        margin-right: 7rem;
    }

    .menu-icon .menu-close {
        display: none;
    }

    .hidden-menu:checked + .menu-icon .menu-open {
        display: none;
    }

    .hidden-menu:checked + .menu-icon .menu-close {
        display: inline-block;
    }

    header .drop-down {
        position: absolute;
        display: flex;
        width: 100%;
        height: 125px;
        margin-top: 17rem;
    }

    .drop-down nav {
        width: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }

    .drop-down nav a {
        text-decoration: none;
        color: var(--color-primary-background);
        font-family: var(--font-family);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    nav a:hover, nav a:active {
        color: var(--color-primary);
        opacity: 0.9;
    }

    .hidden-menu:checked ~ .drop-down {
        display: flex;
    }
}

.hero {
    width: 100%;
    background: url(images/headphones_hero_1.jpg) center/cover no repeat;
    z-index: 1;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    flex-direction: column;
}

.hero_container {
    margin-top: 325px;
    color: var(--color-primary-background);
    width: 55%;
    text-align: center;
    margin-bottom: 95px;
}

.hero_container h2 {
    color: var(--color-primary-background);
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero_container h4 {
    color: var(--color-primary-background);
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -25px;
    margin-bottom: 40px;
}

button {
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    background-color: var(--color-primary);
    border-radius: 22px;
    color: var(--color-primary-background);
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.hero_container p {
    color: var(--color-primary-background);
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 65px;
}

.WWD_container {
    width: 100%;
    display: flex;
    background-color: (var(--color-primary-background));
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.WWD_text {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}

.WWD_text h2 {
    color: var(--color-primary-footer);
    text-align: center;
    font-family: var(--font-family);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.WWD_text p {
    color: var(--color-primary-footer);
    text-align: center;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.WWD_card_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 90%;
    justify-content: space-evenly;
    gap: 90px;
    margin-top: 98px;
    margin-bottom: 110px;
}

.WWD_card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 180px;
}

.WWD_text {
    width: 100%;
}

.WWD_card h5 {
    color: var(--color-primary-footer);
    text-align: center;
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.WWD_card p {
    color: var(--color-primary-footer);
    text-align: center;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* Result */

.results-container {
    width: 100%;
    background: url(images/headphones_hero_2.jpg) center/cover no-repeat;
    z-index: 1;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    flex-direction: column;
}

.results_text {
    margin-top: 141px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}

results_text h2 {
    color: var(--color-primary-background);
    text-align: center;
    font-family: var(--font-family);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.results_poly_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 90%;
    justify-content: space-evenly;
    gap: 90px;
    margin-top: 98px;
    margin-bottom: 110px;
}

.results_poly {
    position: relative;
    text-align: center;
    color: var(--color-primary-background);
}

.results_poly h1 {
    position: absolute;
    left: 50px;
    top: 40px;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.results_poly p {
    position: absolute;
    left: 35px;
    top: 105px;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* Contact */

.contact-container {
    width: 100%;
    display: flex;
    background-color: var(--color-primary-background);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 170px;
    width: 335px;
    height: 373px;
    justify-content: space-between;
    gap: 50px;
}

.form-container h1 {
    color: var(--color-primary-footer);
    text-align: center;
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 335px;
}

form input {
    height: 54px;
    background: white;
    margin-bottom: 15px;
    border: none;
    color: var(--color-primary-footer);
    font-family: var(--font-family);
    font-size: 14px;
    border: 5px solid #66da4300;
    border-bottom: 1px solid var(--color-primary-footer);
    outline: none;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

input::placeholder {
    color: var(--color-primary-footer);
}

.form-field {
    margin-top: 40px;
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    background-color: var(--color-primary);
    border-radius: 22px;
    color: var(--color-primary-background);
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    align-self: center;
}

.button:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Footer */

footer {
    display: flex;
    width: 100%;
    height: 249px;
    background-color: var(--color-primary-footer);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.copyright {
    color: var(--color-primary-background);
    font-family: var(--font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.3517;
    margin-top: 40px;
}