.hero-container{
    display: flex;
    flex-direction: column;
    background-image: url('\images\headphones_hero_1.jpg');
    background-color: #979797; //only to see logo, remove when img is fixed
}
.header-container{
    display: flex;
    flex-direction: column;
}
.logo-container{
    display: flex;
}
.logo{
    display: flex;
    justify-content: flex-start;
}
.nav-container{
    display: flex;
    justify-content: flex-end;
}
.nav-links{
    display: flex;
    flex-direction: ;
    justify-content: space-evenly;
}
.list-item-style{
    list-style: none;
    text-decoration: none;
}
.content{

}
.who-container{

}
.section-header{

}
.section-text{

}
.button{

}
.what-container{

}
.icons-container{

}
.results-container{

}
.shapes-container{

}
.contact-container{

}
.form{

}
.footer-container{

}
.footer-nav{
    
}